body {
  font-family: 'El Messiri', sans-serif;
  margin: 0;
  background-image: url('../img/bg-pattern.webp');
  background-repeat: repeat-y;
  background-size: cover;
  background-color: #fffaf2;
  color: #3b1f14;
}

@media (max-width: 1440px) {
  body {
    background-size: contain;
  }
}

.lang-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

header h1 {
  animation: bounceIn 2s ease-in-out;
}

.hero {
  text-align: center;
  padding: 6rem 1rem 0.5rem;
  font-size: 2rem;
  color: #731c0a;
}

.block {
  max-width: 700px;
  margin: 2rem auto;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.block.animate {
  opacity: 1;
  transform: translateY(0);
}

.border-container {
  box-shadow: 0px 0px 20px 8px #08080898;
  overflow: hidden;
  /* важное свойство */
  position: relative;
}

.border-frame {
  position: relative;
  padding: 32px;
  background-color: #fffdf8;
}

.border-frame::before,
.border-frame::after,
.border-frame .v-border-left,
.border-frame .v-border-right {
  content: '';
  position: absolute;
  background-repeat: repeat;
  z-index: 1;
}

.border-frame::before {
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  background-image: url('../img/border-up.png');
  background-size: auto 100%;
}

.border-frame::after {
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background-image: url('../img/border-down.png');
  background-size: auto 100%;
}

.border-frame .v-border-left,
.border-frame .v-border-right {
  top: 0;
  bottom: 0;
  width: 35px;
  background-size: 100% auto;
}

.border-frame .v-border-left {
  left: 0;
  background-image: url('../img/border-left.png');
}

.border-frame .v-border-right {
  right: 0;
  background-image: url('../img/border-right.png');
}

.border-content {
  position: relative;
  background: #fff0cb;
  padding: 1.5rem;
  z-index: 2;
}

.ornament-border {
  padding: 0;
}

.topimage {
  width: auto;
  margin: 0 auto;
  display: block;
  height: 40vh;
  margin: 0 auto;
}

h2 {
  margin-top: 0;
  color: #aa2b0d;
}

ul {
  padding-left: 1.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button.yes {
  background: #2e944b;
  color: #fff;
}

button.no {
  background: #a82323;
  color: #fff;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem
}

.countdown-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.countdown-wrapper .num {
  font-size: 2rem;
  color: #7c190c;
}

.falling-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffd700;
  border-radius: 50%;
  opacity: 0.8;
  animation: starFall 5s linear infinite;
}

@keyframes starFall {
  0% {
    transform: translateY(-10px);
    opacity: 0.9;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.timer {
  background-color: transparent;
  background-image: url('../img/timer-bg.png');
  /* путь к твоему PNG */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 20px 8px #08080898;
  border-radius: 12px;
  font-family: 'El Messiri', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #5a1d10;
  padding: 0.5rem 0;
  text-align: center;
}

.balloon-container {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1000;
}

.balloon {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 60px;
  animation: floatUp linear forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.greeting-3 {
  flex-direction: row;
  justify-content: center;
}

.invite-icon {
  width: 70px;
  height: auto;
}